user_uuid = "9ba242de-7d1c-425b-be51-f697303792f2"
bucket_name = "a5grsmco280sjorlwaiacrzk"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version= 2